.card {
  position: relative;
  width: 190px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  border-radius: 8px;
  color: white;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card p:not(.heading) {
  font-size: 14px;
}

.card p:nth-last-child(2) {
  color: #e81cff;
  font-weight: 600;
}

.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}




.btn {
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  width: 80px;
}

.btn-approve {
  background-color: #000000;
  border-color: #198754;
}

.btn-approve:hover {
  background-color: #157347;
  border-color: #146c43;
}

.btn-delete {
  background-color: #000000;
  border-color: #dc3545;
  margin-left: 20px;
}

.btn-delete:hover {
  background-color: #bb2d3b;
  border-color: #b02a37;
}

.btndiv {
  display: flex;
}

a {
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  /* Allow wrapping to the next row */
  gap: 20px;
  /* Optional: space between cards */
  justify-content: flex-start;
  /* Align items to the left */
}

body {
  background-color: #222D32;
}

.buttonss{
  padding: 10px 20px;
    background-color: rgb(26, 34, 38);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.icons{
    margin: -60px 0px 0px 805px;
}