{% extends 'authsystem/base.html' %}

{% load static %}

{% block title %}Change password{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'authsystem/css/change_password.css' %}">
{% endblock %}
{% block content %}


<div class="login-box">
    <h2>Change Password</h2>
    <!-- <form>
        <div class="user-box">
            <input type="text" name="" required="">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input type="password" name="" required="">
            <label>Password</label>
        </div>
    </form> -->
    <form method="post">
        {% csrf_token %}

        <div class="user-box">
            <input type="text" name="password" required="" id="password">
            <label>Password</label>
        </div>
        <div class="user-box">
            <input type="password" name="confirmPassword" required="" id="confirmPassword">
            <label>Confirm Password</label>
        </div>
        <button type="submit" class="animated-button" id="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </button>
    </form>


</div>

<script src="{% static 'authsystem/js/change_password.js' %}"></script>

{% endblock %}