<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'customer/css/base.css' %}" />
    {% block head %}

    {% endblock %}
</head>

<body>
    <div class="logoo">
        <img src="{% static 'authsystem/img/logo.png' %}" alt="logo" class="logo" />
    </div>

    <div class="icons">
        <a href="{% url 'customer:home' %}"><button class="buttonss">Home</button></a>
        <a href="{% url 'customer:cart' %}"><button class="buttonss">Cart</button></a>
        <a href="{% url 'chat:chat_room' %}"><button class="buttonss">Chat</button></a>
        <a href="{% url 'customer:cart' %}"><button class="buttonss">Cart</button></a>
        <a href="{% url 'customer:cart' %}"><button class="buttonss">Cart</button></a>
        <a href="{% url 'customer:cart' %}"><button class="buttonss">Cart</button></a>

    </div>

    <div class="content">
        {% block content %}

        {% endblock %}
    </div>
</body>

</html>