{% extends 'customer/base.html' %}

{% load static %}

{% block title %}Customer{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'customer/css/home.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}
{% block content %}

<div class="icons">
    <a href="{% url 'customer:cart' %}"><button class="buttonss">Cart</button></a>
    <a href="{% url 'chat:chat_room' %}"><button class="buttonss">Chat</button></a>
    <a href="{% url 'location:map_view' %}"><button class="buttonss">Map</button></a>
    <a href="{% url 'authsystem:change_password' %}"><button class="buttonss">Change Password</button></a>
    <a href="{% url 'authsystem:logout_view' %}"><button class="buttonss">Logout</button></a>

</div>


{% for customer in cust_obj %}
<h3>Hey,{{ customer.name }}</h3>
<div class="card-container">
    {% for item in profession_obj %}




    <div class="wrapper">
        <div class="container">
            <div class="top">
                <img src="{{ item.labour.image.url }}" alt="alo" class="labourimage">
            </div>
            <div class="bottom">
                <div class="left">
                    <div class="details">
                        <p class="labour_obj_name">{{item.labour.name}}</p>
                        <p>{{item.profession}}</p>
                        <p>₹{{ item.fees }}</p>
                    </div>
                    <div class="buy"><i class="material-icons"><a
                                href="/customer/book/{{ item.id }}">add_shopping_cart</a></i></a></div>
                </div>
                <div class="right">
                    <div class="done"><i class="material-icons">done</i></div>
                    <div class="details">
                        <h1>Chair</h1>
                        <p>Added to your cart</p>
                    </div>
                    <div class="remove"><i class="material-icons">clear</i></div>
                </div>
            </div>
        </div>
        <div class="inside">
            <div class="icon"><i class="material-icons">info_outline</i></div>
            <div class="contents">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>{{item.labour.name}}</th>
                    </tr>

                    <tr>
                        <th>Phone number</th>
                        <th>{{item.labour.phone_number}}</th>
                    </tr>

                    <tr>
                        <th>Place</th>
                        <th>{{item.labour.place}}</th>
                    </tr>

                    <tr>
                        <th>Fees</th>
                        <th>{{item.fees}}</th>
                    </tr>

                </table>
            </div>
        </div>
    </div>





    {% endfor %}
    {% endfor %}
</div>
<script src="{% static 'customer/js/home.js' %}"></script>

{% endblock %}