.logo {
  width: 80px;
  height: 80px;
  display: inline-block;
}

body {
  background: #222D32;
  font-family: sans-serif;
}
.buttonss{
  padding: 10px 20px;
    background-color: rgb(26, 34, 38);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}