/* Layout */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 20px;

}

.container {
    max-width: 700px;
    margin: 0 auto;
    background: #032d3a;
    padding: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Header */
.container h2 {
    text-align: center;
    color: #007BFF;
    margin-bottom: 20px;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-weight: 600;
}

input[type="text"],
input[type="date"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border 0.3s;
    background: #197692;
}

input:focus,
textarea:focus {
    border-color: #007BFF;
    outline: none;
}

/* Button */
button {
    margin-top: 20px;
    padding: 12px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #0056b3;
}

/* Booked Dates */
.booked-dates {
    margin-top: 30px;
    background-color: #ffe6e6;
    padding: 15px;
    border-left: 5px solid red;
    border-radius: 8px;
}

.booked-dates h3 {
    margin-top: 0;
    color: #c70000;
    font-size: 18px;
}

.booked-dates ul {
    list-style-type: square;
    padding-left: 20px;
}

.booked-dates li {
    color: #c70000;
    font-weight: 500;
}

/* Responsive */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }
}