body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background: #00394B;

}

.cart-container {
    margin-left: 30px;
    padding: 20px;
}

.cart-container h2 {
    text-align: center;
    margin-bottom: 30px;
}

.booking-card {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    width: 350px;
    /* min-width: 300px; */
    box-sizing: border-box;
    transition: transform 0.2s;
    border: 3px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.booking-card:hover {
    transform: scale(1.01);
}

/* Full border colors */
.booking-card.confirmed {
    border-color: #28a745;
    /* green */
}

.booking-card.pending {
    border-color: #ff9800;
    /* orange */
}

.booking-card h3 {
    margin-top: 0;
    color: #222;
    font-size: 22px;
}

.booking-card p {
    margin: 8px 0;
    color: #555;
}

img {
    width: 150px;
    height: 200px;
    border-radius: 80px;
}

.cart-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}