{% extends 'customer/base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'labour/css/home.css' %}">

{% endblock %}
{% block content %}
<h1>labour home</h1>





<h2>Bookings</h2>
{% for booking in book_data %}



<div class="card">
    <p class="heading">
        Customer: {{ booking.customer.name }}
    </p>
    <p>
        Date: {{ booking.date }}
    </p>
    <p>
        Location: {{ booking.location_name }}
    </p>
    <p>
        Phone: {{ booking.customer.phone_number }}
    </p>

    {% empty %}
    <p>No bookings found.</p>
    {% endfor %}

</div>








{% endblock %}